<section id="waarom">
    <div class="container">
    <div class="center wow fadeInDown">
      <h1>Waarom Belastinginzicht.nl?</h1>
      <p class="lead">
      Belastinginzicht.nl is gemaakt om iets te doen aan het gebrek aan transparantie op loonstroken en een gebrek aan bestaande
      tools op het internet om daar meer inzicht in te krijgen. De doorsnee loonstrook toont het bruto salaris, iets dat vaak "heffingen"
      wordt genoemd en het daaruitvolgende nettosalaris. Die informatie roept een aantal logische vragen op:
      </p>
      <p class="why-questions" text-align="center">
      Klopt het wel wat er op mijn loonstrook staat?<br />
      Hoe worden die heffingen dan precies berekend?<br />
      </p>
      <p class="lead">
      Anno 2018 heb je twee mogelijkheden
      om deze vragen te beantwoorden: je kan je door het oerwoud aan tarieven en schijven op de website van de
      <a href = "https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/boxen_en_tarieven/overzicht_tarieven_en_schijven/" target="_blank">belastingdienst</a>
      heen werken en het handmatig na proberen te rekenen, of je kan
      <a href="https://www.berekenhet.nl/werk-en-inkomen/nettoloon.html" target="_blank">dit soort websites</a>
      gebruiken die niet veel inzichtelijker zijn dan een loonstrook met extra veel reclame.
      Op deze website krijg je hier op de loon tab makkelijker inzicht in.
      </p>
      <p class="lead">
      Een tweede reden voor deze website is dat steeds meer mensen zich afvragen of ze wel 40 uur per week moeten en willen werken.
      Sommigen omdat ze kinderen krijgen, sommigen door uitstekende boeken als
      <a href="https://decorrespondent.nl/gratisgeld" target="_blank">'Gratis geld voor iedereen'</a>
      of een artikeltje als
      <a href="http://www.bbc.com/capital/story/20171204-the-compelling-case-for-working-a-lot-less " target="_blank">
      deze</a>. Groot econoom John Maynard Keynes schreef in 1930 zelfs al dat we inmiddels 15 uur per week hadden moeten werken (zie
      <a href="http://www.econ.yale.edu/smith/econ116a/keynes1.pdf" target="_blank">hier</a>).
      Maar overwegen minder te gaan werken roept ook een hele simpele vraag op:
      </p>
      <p class="why-questions">
      Hoe neemt mijn netto inkomen af als ik minder ga werken?
      </p>
      <p class="lead">
      Dat wil je natuurlijk weten voor zowel 36- als 32- en 20-urige werkweken.
      En dat moet makkelijker te berekenen zijn dan voor ieder aantal uren een van de eerdergenoemde
      verschrikkelijke berekenwebsites te gebruiken. Op de minder werken tab krijg je ook hier makkelijk inzicht in.
      </p><br />
      <h3>Contact</h3>
      <p class="lead">
      Iets gezien op deze pagina waardoor je contact op wilt nemen? Of wil je op een of andere manier bijdragen aan dit project?
      Stuur een berichtje naar: info@belastinginzicht.nl
      </p> <br />
      <h3>Disclaimer</h3>
      <p class="lead">
      Deze website is opgezet om je een makkelijk eerste inzicht te geven in je belastingen, maar er bestaan vele uitzonderingen op de
      standaard situatie. Partners, huizen, inkomsten uit andere bronnen en nog veel meer. Deze worden op termijn wellicht toegevoegd,
      maar voorlopig gaat het uit van de meest standaard loon situatie. Daarnaast is deze website opgezet als prive project, aan de inzichten
      kunnen dan ook geenszins rechten worden ontleend. Zie je iets waarvan je denkt dat het niet correct is? Laat het weten via: info@belastingzicht.nl
      </p>
    </div>
    </div><!--/.container-->
</section><!--/about-us-->
