<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2018 Belastingzicht.nl
            </div>
<!--             optie om menu aan de footer toe te voegen
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Waarom</a></li>
                    <li><a href="#">Loon</a></li>
                    <li><a href="#">Toeslagen</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer><!--/#footer-->
