<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="images/belastinginzichtlogo.svg" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right" bs-active-link>
                <ul class="nav navbar-nav">
                    <li><a href="#/">Waarom?</a></li>
                    <li><a href="#/loon">Loon</a></li>
                    <li><a href="#/minder-werken">Minder werken</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->
